@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600&display=swap');


:root {
	--color-Principal: #ffede6;
	--color-second: #f9f1ee;
	--color-heart: #b62216;
	--color-buttonOver: #921910;
	--colorFont: white;
	--fontF: 'Palanquin Dark', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: var(--fontF);
	text-decoration: none;
}

header {
	background-color: #ffede6;
	height: 5rem;
	padding: .5rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
}

.imageStart {
	background-image: url(/static/images/imagen-start.jpg);
	background-size: cover;
	height: 50rem;
	width: 100%;
}

.box-image {
	margin-left: 2rem;
	height: 5rem;
	width: 15rem;
}

.imagen-logo {
	width: 100%;
}

nav {
	display: flex;
	align-items: center;

}

ul {
	display: flex;
	flex-direction: row;
	padding: 1rem 2rem;
}

li {
	margin: 0 1rem;
}

.nav-li {
	padding: .3rem 1rem;
	box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.75);
	border-radius: .3rem;
}

.nav-li:hover {
	box-shadow: inset 5px 5px 30px -15px rgba(0, 0, 0, 0.75);
}

.cont-li {
	background-color: var(--color-second);
}

.star-li {
	background-color: var(--color-heart);
}

.star-li:hover {
	background-color: var(--color-buttonOver);
}

.star-li a {
	color: var(--colorFont);
}

.cont-li a {
	color: var(--color-heart);
}
.cinta{
	background-color: var(--color-buttonOver);
	color: var(--color-Principal);
	box-shadow: 0px 10px 30px -7px rgba(0,0,0,0.75);
	margin-bottom: 2.5rem;
	-webkit-text-stroke: 0.75px black;
}
h2{
	text-align: center;
	padding: 1rem 0 0;
	font-size: 3.5rem;
}
h3{
	padding: 0 0 2rem;
	text-align: center;
	font-size: 2rem;
}
form{
	display: flex;
	flex-direction: column;
	background-color: var(--color-Principal);
	border-radius: 1rem;
	box-shadow: 0px 10px 30px -7px rgba(0,0,0,0.75);
	padding: 2rem;
	margin: 2rem 8.5rem;
	text-align: center;
	color: var(--color-buttonOver);
	font-family: var(--fontF);
	font-size: large;
	
}
 input, select, button{
	/* display: flex;  */
	 /* margin: 0 12rem; */

	 width: 16rem;
	 display: flex;
	 justify-content: center;
	 margin: 0rem 39%;	 
	 color: var(--color-buttonOver);
	 font-size: medium;
 } 
 
 .btn-submit{
	background-color: var(--color-heart);
	color: var(--colorFont);
	box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.75);
	border-radius: .3rem;
	position: relative;
	left: 18rem;
	bottom: 2rem;
 }
 .btn-submit:hover{
	background-color: var(--color-buttonOver);
	cursor: pointer;
 }
 ::placeholder{
	color: rgba(173, 28, 28, 0.5);
	padding-left: .3rem;
 }
 footer{
	display: flex;
	justify-content: center;
	color: #921910;
 }
 footer a{
	color: #921910;
 }