@import url("fontawesome-all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600&display=swap');


:root {
	--color-Principal: #ffede6;
	--color-second: #f9f1ee;
	--color-heart: #b62216;
	--color-buttonOver: #921910;
	--colorFont: white;
	--fontF: 'Palanquin Dark', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: var(--fontF);
	text-decoration: none;
}

header {
	background-color: #ffede6;
	height: 5rem;
	padding: .5rem;
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 0;
}

.imageStart {
	background-image: url(/static/images/imagen-start.jpg);
	background-size: cover;
	height: 50rem;
	width: 100%;
}

.box-image {
	margin-left: 2rem;
	height: 5rem;
	width: 15rem;
}

.imagen-logo {
	width: 100%;
}
.cinta{
	width: 100%;
	background-color: var(--color-buttonOver);
	color: var(--color-Principal);
	box-shadow: 0px 10px 30px -7px rgba(0,0,0,0.75);
	margin: 0 0 4rem ;
	-webkit-text-stroke: 0.75px black;
}
h2{
	text-align: center;
	padding: 1rem 0 0;
	font-size: 3.5rem;
}

.result{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.box-result{
	width: 60%;
	height: 60vh;
	box-shadow: 0px 10px 30px -7px rgba(0,0,0,0.75);
}
.box-result img{
	width: 100%;
	height:100%;
}

p{
	font-size: xx-large;
	font-weight: 700;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 2rem;
}
